*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Container{
    height: 100vh;
    width: 100%;
    background-color: #A4C1C2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Calculator{
    padding: 40px;
    background-color: #67797A;
    border-radius: 20px;
}

.Calculator form input{
    border: 0;
    outline: 0;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    box-shadow: -2px -2px 8px #414848;
    background: transparent;
    cursor: pointer;
    font-size: 1em;
}

.Calculator form .display input{
    width:240px;
    font-size: 2rem;
    box-shadow: none;
    padding: 10px;
    padding-left: 10px;
    margin-bottom: 15px;
}

.Calculator form .equal{
    width:
     120px;
}

.Container h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px; /* Adds space between the title and calculator */
    text-align: center;
}